<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-neutral-800 border-neutral-700">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white">
        Sign in to your account
      </h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |f| %>
        <div>
          <%= f.label :email, class: "block mb-2 text-sm font-medium text-white" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your Email", class: "border text-sm rounded-lg block w-full p-2.5 bg-neutral-700 border-neutral-600 placeholder-neutral-400 text-white" %>
        </div>
        <div>
          <%= f.label :password, class: "block mb-2 text-sm font-medium text-white" %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", class: "border text-sm rounded-lg block w-full p-2.5 bg-neutral-700 border-neutral-600 placeholder-neutral-400 text-white" %>
        </div>
        <div class="flex items-center justify-between">
          <% if devise_mapping.rememberable? %>
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <%= f.check_box :remember_me, class: "w-4 h-4 border rounded focus:ring-3 bg-neutral-700 border-neutral-600" %>
              </div>
              <div class="ml-3 text-sm">
                <%= f.label :remember_me, class: "text-neutral-400" %>
              </div>
            </div>
          <% end %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-sm text-amber-500 hover:underline" %>
        </div>
        <%= f.submit "Sign in", class: "w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-neutral-600 hover:bg-neutral-700 focus:ring-neutral-800 cursor-pointer" %>
        <p class="text-sm font-light text-neutral-400">
          Don’t have an account yet? <%= link_to "Sign up", new_user_registration_path, class: "font-medium text-amber-500 hover:underline" %>
        </p>
      <% end %>
    </div>
  </div>
</div>