<div class="m-4">
  <%= link_to posts_path, class: "inline-flex items-center text-neutral-400 hover:text-white text-lg font-medium" do %>
    <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"></path>
    </svg>
    Back to Posts
  <% end %>
</div>

<div class="border-b border-neutral-700">
  <div class="p-4 flex space-x-3">
    <% post_user = @post.user %>

    <!-- Profile Image -->
    <div class="flex-shrink-0">
      <% if post_user.profile_image.attached? %>
        <%= image_tag post_user.profile_image.variant(resize_to_fill: [40, 40]).processed, class: "w-10 h-10 rounded-full" %>
      <% else %>
        <%= image_tag "default_avatar.jpg", class: "w-10 h-10 rounded-full" %>
      <% end %>
    </div>

    <!-- Post Content -->
    <div class="flex-1">
      <div class="flex items-center space-x-2">
        <p class="font-semibold text-white"><%= post_user.name %></p>
        <p class="text-neutral-400 text-sm">@<%= post_user.username %></p>
        <p class="text-neutral-500 text-xs">· <%= time_ago_in_words(@post.created_at) %> ago</p>
      </div>

      <p class="mt-1 text-neutral-200 text-sm leading-relaxed"><%= @post.content %></p>
    </div>
  </div>
</div>

<!-- Comment Form -->
<div class="p-4 border-b border-neutral-700">
  <%= turbo_frame_tag "comment_create_form" do %>
    <%= render partial: "comments/comment_create_form", locals: { comment: @comment, post: @post } %>
  <% end %>
</div>

<!-- Comment List -->
<div class="p-4 space-y-4">
  <%= turbo_stream_from @post, :comments %>
  <%= turbo_frame_tag "comments" do %>
    <% @post.comments.each do |comment| %>
      <%= render partial: "comments/comment", locals: { comment: comment } %>
    <% end %>
  <% end %>
</div>
